body {
  font-family: "Nunito Sans", sans-serif;
  color: #F5F6F4;
  margin: 0;
  position: relative;
  background: radial-gradient(circle at 44% 59%, #FFFFFF 0%, #F5F6F4 21%, #F5F6F4 21%, #F5F6F4 75%, #EBEDE9 100%);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  opacity: 30%;
  pointer-events: none;
}

p {
  margin: 0;
}

.hidden__img {
  filter: url(#shadow);
}

.plain-text {
  color: #685B5E;
  font-size: 12px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .plain-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .plain-text--small {
    font-size: 12px;
  }
}
.plain-text--light {
  color: #B3A8A8;
  text-decoration: none;
}
.plain-text--white {
  color: #F5F6F4;
}
.plain-text--center {
  text-align: center;
}

.pink {
  color: #BB8B9E;
}

.yellow {
  color: #F6BE65;
}

.green {
  color: #7E8D68;
}

.white {
  color: #F5F6F4;
}

.callout {
  font-family: "Jomhuria", serif;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 0.5;
}
@media screen and (min-width: 768px) {
  .callout {
    font-size: 30px;
  }
}

.heading {
  font-family: "Jomhuria", serif;
  font-size: 40px;
  color: #685B5E;
  letter-spacing: 2px;
  line-height: 0.5;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
}
.heading--small {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .heading--small {
    font-size: 40px;
  }
}
.heading--white {
  color: #F5F6F4;
}
.heading--pink {
  color: #BB8B9E;
}
@media screen and (min-width: 768px) {
  .heading--hidden {
    display: none;
  }
}
.heading--unhidden {
  display: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .heading--unhidden {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
  }
}
.heading--center {
  text-align: center;
}
.heading--margin {
  margin-top: 40px;
}
.heading--left {
  text-align: left;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 20px;
}
.wrapper--gallery {
  max-width: 1400px;
  margin: 0 auto;
  text-align: justify;
  padding: 20px;
}
.wrapper--margin {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .wrapper--margin {
    margin-bottom: 80px;
  }
}
.wrapper--center {
  text-align: center;
  max-width: 1100px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 8px;
  bottom: 4px;
  left: 0;
  background-color: #E8D9DF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button {
  text-decoration: none;
  font-size: 40px;
  font-family: "Reenie Beanie", cursive;
  color: #F5F6F4;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .button--dark:hover {
    color: #4C4245;
  }
  .button--green:hover {
    color: #616A4E;
  }
  .button--pink:hover {
    color: #995C74;
  }
}
@media screen and (min-width: 768px) {
  .button {
    position: relative;
    z-index: 2;
  }
  .button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: scaleX(0);
    height: 14px;
    bottom: 6px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .button--dark::after {
    background-color: #685B5E;
  }
  .button--green::after {
    background-color: #77815F;
  }
  .button--pink::after {
    background-color: #AB7389;
  }
}

.menu {
  display: grid;
  grid-template-columns: 3fr auto;
  grid-template-rows: auto auto;
  padding: 40px;
  gap: 20px;
}
.menu-dark {
  background: linear-gradient(to top, #78686C, #574C4F);
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .menu {
    padding-bottom: 80px;
    padding-top: 80px;
    background: transparent;
  }
}
.menu__wave {
  filter: url(#shadow-header);
}
@media screen and (min-width: 768px) {
  .menu__wave {
    display: none;
  }
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
@media screen and (max-width: 768px) {
  .menu__checkbox:checked ~ .menu__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu__checkbox:checked ~ .menu__toggler {
    rotate: -90deg;
    transform-origin: center;
  }
}
.menu__mc {
  font-family: "Reenie Beanie", cursive;
  color: #F6BE65;
  font-size: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: end;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .menu__mc {
    display: none;
  }
}
.menu__toggler {
  color: #F5F6F4;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: end;
  align-items: end;
  cursor: pointer;
  grid-column: 2/3;
  grid-row: 1/2;
  transition: rotate 0.3s ease-out;
}
@media screen and (min-width: 768px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  grid-column: 1/3;
  grid-row: 2/3;
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__list {
    grid-column: 1/3;
    grid-row: 1/3;
    display: inline-block;
    text-align: center;
  }
}
.menu__item {
  font-family: "Jomhuria", serif;
  color: #F5F6F4;
  padding: 20px;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #F5F6F4;
  transition: transform 0.95s ease-out;
}
.menu__item:last-child {
  border: none;
}
@media screen and (max-width: 768px) {
  .menu__item:hover {
    background-color: #F5F6F4;
    color: #685B5E;
  }
}
@media screen and (min-width: 768px) {
  .menu__item {
    padding: 40px 20px;
    border: none;
  }
  .menu__item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .menu__item::before {
    content: "";
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 8px;
    bottom: 48px;
    left: 15%;
    background-color: #BB8B9E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    z-index: -1;
  }
  .menu__item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.menu__item--dark {
  color: #F5F6F4;
}
@media screen and (min-width: 768px) {
  .menu__item--dark {
    color: #685B5E;
  }
}
.menu__item--dark::before {
  background-color: #D2B2BF;
}
.menu__item--light::before {
  background-color: #BB8B9E;
}
@media screen and (min-width: 768px) {
  .menu__item--active {
    position: relative;
  }
  .menu__item--active::after {
    content: "";
    position: absolute;
    bottom: 48px;
    left: 15%;
    width: 70%;
    height: 8px;
    background-color: #D2B2BF;
    z-index: -1;
  }
}
.menu__logo {
  font-family: "Reenie Beanie", cursive;
  color: #F6BE65;
  padding: 40px;
  transition: transform 0.3s, color 0.3s;
}
.menu__logo:hover {
  animation: changeColor 2s infinite;
}
.menu__logo--dark:hover {
  animation: changeColorDark 2s infinite;
}
@media screen and (max-width: 768px) {
  .menu__logo {
    display: none;
  }
}
.menu a {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
}

@keyframes changeColor {
  0% {
    color: #F6BE65;
  }
  55% {
    color: #F5F6F4;
  }
  100% {
    color: #F6BE65;
  }
}
@keyframes changeColorDark {
  0% {
    color: #F6BE65;
  }
  55% {
    color: #685B5E;
  }
  100% {
    color: #F6BE65;
  }
}
.background--brown {
  background: radial-gradient(circle at 70% 70%, #574C4E 0%, #574C4E 28%, #6D5F62 50%, #8D7C80 100%);
  min-height: 100vh;
}

.banner {
  text-align: center;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: 0 40px;
}
@media screen and (min-width: 768px) {
  .banner {
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
  }
}
.banner__heading {
  font-family: "Jomhuria", serif;
  font-size: 40px;
  letter-spacing: 1px;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 20px 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .banner__heading {
    font-size: 60px;
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 0 0 40px 40px;
  }
}
.banner__img {
  margin: 0 auto;
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 40px 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .banner__img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 70%;
  }
}
.banner__logo {
  font-family: "Reenie Beanie", cursive;
  font-size: 40px;
  padding: 0 20px 40px 20px;
  grid-column: 1/3;
  grid-row: 3/4;
}
@media screen and (min-width: 768px) {
  .banner__logo {
    font-size: 60px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 0 40px 40px;
  }
}

.yellow {
  color: #F6BE65;
}

.akce {
  text-decoration: none;
}
.akce__content {
  color: #F5F6F4;
  text-align: center;
  padding: 0;
  margin: 0;
}
.akce__text {
  background-image: linear-gradient(to top, #C398A9, #BB8B9E);
  margin: -7px 0 0 0;
  padding: 40px 20px 40px 20px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .akce__text {
    padding: 40px 20px 80px 20px;
  }
}
.akce__heading {
  font-family: "Jomhuria", serif;
  font-size: 30px;
  color: #685B5E;
  letter-spacing: 1px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .akce__heading {
    font-size: 40px;
  }
}
.akce__wave {
  filter: url(#shadow-akce);
}
.akce__hover:hover .akce__heading {
  color: white;
  transition: 0.5s;
}
.akce__hover:hover .akce__perex {
  color: white;
  transition: 0.5s;
}

.article__background {
  background: linear-gradient(to top, #78686C, #574C4F);
}
@media screen and (min-width: 768px) {
  .article__background {
    min-height: 80vh;
  }
}
.article__container {
  padding: 0 20px 80px 20px;
}
@media screen and (min-width: 768px) {
  .article__container {
    padding: 40px 0 80px 0;
  }
}
.article__content {
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .article__content {
    margin: 40px 0;
  }
}

.footer {
  padding: 0;
  background: linear-gradient(to bottom, #78686C, #78686C, #625559);
  max-height: 30vh;
  margin-top: -7px;
}
.footer__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.footer__icons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  align-self: end;
  padding: 0 0 20px 0;
  width: 100%;
}
.footer__icon {
  width: 32px;
  transition: 0.3s ease-in-out;
}
.footer__img {
  height: 20vh;
  grid-column: 2/3;
  grid-row: 1/2;
}
.footer__link:hover .footer__icon {
  transform: scale(1.2);
}
.footer__text {
  font-family: "Reenie Beanie", cursive;
  color: #F5F6F4;
  font-size: 30px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: start;
  align-self: end;
  padding: 0 0 20px 0;
  width: 100%;
}
.footer__wave {
  filter: url(#shadow--footer);
  margin-top: 40px;
}

.omne__wrapper {
  position: relative;
  z-index: 1;
  padding: 40px 20px;
  margin: 0 auto;
  margin-top: -8px;
  max-width: 1100px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .omne__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 0;
  }
}
.omne__img {
  border-radius: 50%;
  width: 75%;
  border: 6px solid #B3A8A8;
  margin-bottom: 40px;
  transition: transform 0.4s;
}
.omne__img--reverse {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .omne__img {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 8px solid #B3A8A8;
    margin: 0;
  }
  .omne__img:hover {
    transform: scale(0.95);
  }
  .omne__img--reverse {
    grid-column: 1/2;
    margin-top: 0;
  }
}
.omne__text {
  max-width: 100%;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .omne__text {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 40px;
    padding-bottom: 0;
  }
  .omne__text--reverse {
    grid-column: 2/3;
  }
}
.omne__wave {
  filter: url(#shadow-omne);
}
.omne--dark {
  background-image: linear-gradient(to bottom, #574C4F, #78686C);
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .omne--dark {
    padding-bottom: 120px;
  }
}

dfn {
  cursor: help;
  font-style: normal;
  position: relative;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}

dfn::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms, top 250ms;
}

dfn:hover {
  z-index: 2;
} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {
  opacity: 1;
}

dfn:hover::after {
  top: 30px;
}

dfn:hover::before {
  top: 20px;
}

button {
  text-decoration: none;
  font-size: 30px;
  font-family: "Reenie Beanie", cursive;
  color: #BB8B9E;
  letter-spacing: 2px;
  background-color: transparent;
  display: block;
  margin: 20px auto 0 auto;
  border: none;
  transition: opacity 150ms ease, border 300ms ease-in-out;
}

.toggle__container {
  position: relative;
  z-index: 1;
  margin: 80px auto 40px auto;
  max-width: 400px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .toggle__container {
    margin: 80px auto;
  }
}
.toggle__container--nabidka {
  margin-bottom: 0;
}
.toggle__text {
  font-family: "Jomhuria", serif;
  color: #B3A8A8;
  font-size: 30px;
  padding: 0 40px;
  cursor: pointer;
}
.toggle__text--psi {
  color: #685B5E;
}
.toggle__switch {
  position: relative;
  width: 200px;
  height: 8px;
  background-color: #D9D9D9;
  border-radius: 5px;
}
.toggle__checkbox {
  display: none;
}
.toggle__checkbox:checked + .toggle__label .toggle__slider {
  left: calc(100% - 55px);
  transition: 1s;
}
.toggle__slider {
  position: absolute;
  top: 5px;
  left: 60px;
  transform: translate(-50%, -50%);
  transition: left 1s;
  cursor: pointer;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s all ease;
}
.reveal--left {
  transform: translateX(-100px);
}
.reveal--right {
  transform: translateX(100px);
}
.reveal--opacity {
  transform: translateY(0);
  transition: 0.5s all ease;
}
@media screen and (min-width: 768px) {
  .reveal--phone {
    opacity: 1;
    transform: translateY(0);
  }
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.reveal.active.reveal--left {
  transform: translateX(0);
}
.reveal.active.reveal--right {
  transform: translateX(0);
}

.banner__img:hover .eye {
  fill: pink;
}

.eye {
  transition: transform 0.3s ease-in-out;
}

.eye:hover {
  animation: blink 1s infinite; /* Adjust the animation duration as needed */
}

@keyframes blink {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.1);
  }
}
.eye {
  fill: pink;
}

.barva {
  scale: 5;
}

.gallery {
  max-width: 1300px;
  margin: 0 auto;
  text-align: justify;
  position: relative;
  z-index: 1;
  padding: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 4px;
    margin-bottom: 80px;
  }
}
.gallery__container {
  overflow: hidden;
  grid-row: span 2;
}
.gallery .wide {
  grid-row: span 1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid transparent;
  transition: transform 0.5s;
}
.gallery__img:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 768px) {
  .gallery__img {
    border: none;
  }
}

.self {
  align-self: end;
}

.gallery--lide {
  display: none;
}

.background {
  margin-top: -8px;
  margin-bottom: -2px;
  padding-bottom: 40px;
}
.background--psi {
  background-image: linear-gradient(to bottom, #808D68, #94A07E, #94A07E, #75815F);
}
.background--lide {
  background-image: linear-gradient(to bottom, #BB8B9E, #C398A9, #C398A9, #BB8B9E);
}

.nabidka {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .nabidka {
    margin-top: 20px;
  }
}
.nabidkaPsiTop {
  filter: url(#shadow-nabidkaPsiTop);
}
.nabidkaPsiBottom {
  filter: url(#shadow-nabidkaPsiBottom);
}
.nabidkaLideTop {
  filter: url(#shadow-nabidkaLideTop);
}
.nabidkaLideBottom {
  filter: url(#shadow-nabidkaLideBottom);
}

.slide {
  padding: 40px;
  background-color: #F5F6F4;
  margin: 40px 12px 80px 12px;
  border-radius: 10px;
  box-shadow: inset 0 0 3px #B3A8A8;
  text-align: justify;
}

.faq {
  padding: 0 40px 20px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .faq {
    padding: 0 0 20px 0;
  }
}
.faq__question {
  padding-bottom: 80px;
  position: relative;
}
.faq__hand {
  display: none;
}
@media screen and (min-width: 768px) {
  .faq__hand {
    display: block;
    grid-column: 4/6;
    grid-row: 1/3;
    padding-bottom: 80px;
    justify-self: end;
    text-align: right;
  }
}
.faq__img {
  width: 75%;
}

.arrow {
  position: absolute;
  width: 30%;
  top: -80px;
}
.arrow--right {
  right: -60px;
}
.arrow--left {
  left: -60px;
}
@media screen and (min-width: 768px) {
  .arrow {
    top: -100px;
    width: 40%;
  }
  .arrow--right {
    right: -280px;
  }
  .arrow--left {
    left: -280px;
  }
}

.q1 {
  grid-column: 1/5;
  grid-row: 2/3;
}
@media screen and (min-width: 768px) {
  .q1 {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.q2 {
  grid-column: 2/6;
  grid-row: 3/4;
}
@media screen and (min-width: 768px) {
  .q2 {
    grid-column: 3/6;
    grid-row: 3/4;
  }
}

.q3 {
  grid-column: 1/5;
  grid-row: 4/5;
}
@media screen and (min-width: 768px) {
  .q3 {
    grid-column: 1/4;
    grid-row: 4/5;
  }
}

.q4 {
  grid-column: 2/6;
  grid-row: 5/6;
}
@media screen and (min-width: 768px) {
  .q4 {
    grid-column: 3/6;
    grid-row: 5/6;
  }
}

.form {
  width: 100%;
  text-align: justify;
  margin: -20px auto 0 auto;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .form {
    max-width: 800px;
  }
}
.form__field {
  margin-bottom: 12px;
  font-size: 16px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .form__field--flex {
    display: flex;
    flex: 1 1 auto;
    gap: 12px;
  }
}
.form__field--margin {
  margin-bottom: 40px;
}
.form__field:hover .form__label, .form__field:focus .form__label {
  transform: translateY(-10px);
}
.form__field:hover .form__input, .form__field:focus .form__input {
  background-color: #F5F6F4;
  color: #685B5E;
}
.form__field > .form__input:focus + .form__label {
  transform: translateY(-10px);
}
.form__field > .form__input:focus {
  border-color: #685B5E;
  outline-style: none;
  background-color: #F5F6F4;
  color: #685B5E;
}
.form__field > .form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-10px);
}
.form__field > .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-10px);
}
.form__label {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  padding-left: 12px;
  margin-top: -12px;
  color: #B3A8A8;
  font-size: 12px;
  transition: 0.2s;
}
.form__label--textarea {
  top: 13%;
}
.form__input {
  border: 1px solid #B3A8A8;
  border-radius: 10px;
  padding: 30px 0 12px 12px;
  background-color: transparent;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
  color: #F5F6F4;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .form__input {
    font-size: 16px;
  }
}

.kontakt__wave {
  filter: url(#shadow--kontakt);
  margin-top: 40px;
}
.kontakt--dark {
  background-image: linear-gradient(to bottom, #574C4F, #78686C);
  padding: 0 20px 40px 20px;
}
@media screen and (min-width: 768px) {
  .kontakt--dark {
    padding-bottom: 80px;
  }
}

.thankyou {
  height: 100vh;
  padding: 80px 20px 20px 20px;
  margin: 0 auto;
  text-align: center;
}
.thankyou__img {
  padding: 40px 0;
}/*# sourceMappingURL=style.css.map */