@use 'var';


body {
    font-family: var.$font-main;
    color: var.$color-white;
    margin: 0;

    position: relative;
    background: radial-gradient(circle at 44% 59%, #FFFFFF 0%, #F5F6F4 21%, #F5F6F4 21%, #F5F6F4 75%, #EBEDE9 100%);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: 30%;
    pointer-events: none;
}


p {
    margin: 0;
}

.hidden__img {
    filter: url(#shadow);
}

.plain-text {
    color: var.$color-brown;
    font-size: var.$font-size-xs;
    line-height: 1.5;

    @media screen and (min-width: 768px){
        font-size: var.$font-size-s;
    }

    &--small {
        @media screen and (min-width: 768px){
            font-size: var.$font-size-xs;
        }
    }

    &--light {
        color: var.$color-light;
        text-decoration: none;
    }

    &--white {
        color: var.$color-white;
    }

    &--center {
        text-align: center;
    }

}

.pink {
    color: var.$color-second;
}

.yellow {
    color: var.$color-first;
}

.green {
    color: var.$color-third;
}

.callout {
    font-family: var.$font-heading;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 0.5;

    @media screen and (min-width: 768px){
        font-size: var.$font-size-m;
    }
}


.heading {
    font-family: var.$font-heading;
    font-size: var.$font-size-l;
    color: var.$color-brown;
    letter-spacing: 2px;
    line-height: 0.5;
    margin: 0;

    @media screen and (min-width: 768px){
        font-size: var.$font-size-xl;
    }

    &--small {
        font-size: var.$font-size-m;

        @media screen and (min-width: 768px){
            font-size: var.$font-size-l;
        }
    }

    &--white {
        color: var.$color-white;
    }

    &--hidden {
        @media screen and (min-width: 768px){
            display: none;
        }
    }

    &--center {
        text-align: center;
    }

    &--margin {
        margin-top: var.$spacer-m;
    }
}






.wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    padding: 0 var.$spacer-s;

    &--gallery {
        max-width: 1400px;
        margin: 0 auto;
        text-align: justify;
        padding: var.$spacer-s;
    }

    &--margin {
        margin-bottom: var.$spacer-m;

        @media screen and (min-width: 768px){
            margin-bottom: var.$spacer-l; 
        }
    }

    &--center {
        text-align: center;
        max-width: 1100px;
    }

}



.hover-underline-animation {
    display: inline-block;
    position: relative;
  
  
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: var.$color-light;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}



.button--logo {
    text-decoration: none;
    font-size: var.$font-size-l;
    font-family: var.$font-logo;
    color: var.$color-white;
    letter-spacing: 2px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var.$color-white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
      
    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}



