@use 'var';

button {
    text-decoration: none;
    font-size: var.$font-size-m;
    font-family: var.$font-logo;
    color: var.$color-second;
    letter-spacing: 2px;
    background-color: transparent;
    display: block;
    margin: var.$spacer-s auto 0 auto;
    
    border: none;
    transition: opacity 150ms ease, border 300ms ease-in-out;
}




// toggle
.toggle {

    &__container {
        position: relative;
        z-index: 1;
        margin: var.$spacer-l auto var.$spacer-m auto;
        max-width: 400px;
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px){
            margin: var.$spacer-l auto;
        }

        &--nabidka {
            margin-bottom: 0;
        }
    }

    &__text {
        font-family: var.$font-heading;
        color: var.$color-light;
        font-size: var.$font-size-m;
        padding: 0 var.$spacer-m;
        cursor: pointer;

        &--psi {
            color: var.$color-brown;
        }
    }

    &__switch {
        position: relative;
        width: 200px;
        height: 8px;
        background-color: #D9D9D9;
        border-radius: 5px;
        
    }

    &__checkbox {
        display: none;

        &:checked + .toggle__label .toggle__slider {
            left: calc(100% - 55px);
            transition: 1s;
            
          }
    }

    &__slider {
        position: absolute;
        top: 5px;
        left: 60px;
        transform: translate(-50%, -50%);
        transition: left 1s;
        cursor: pointer;
    }
}




// animace při scrollování  
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s all ease;

    &--left {
        transform: translateX(-100px);
    }

    &--right {
        transform: translateX(100px);
    }

    &--opacity {
        transform: translateY(0);
        transition: 0.5s all ease;
    }

    &--phone {
        @media screen and (min-width: 768px){
            opacity: 1;
            transform: translateY(0);
        }
    }


    &.active{
        transform: translateY(0);
        opacity: 1;

        &.reveal--left {
            transform: translateX(0);
        }

        &.reveal--right {
            transform: translateX(0);
        }

       
    }
}
  


