@use "var";

@media screen and (min-width: 768px){}


.footer {
    @media screen and (max-width: 768px) {
        padding-bottom: 140px;
    }

    padding: 0 0 var.$spacer-m 0;
    background: linear-gradient(to bottom, #78686C, #78686C, #625559);
    max-height: 30vh;
    margin-top: -7px;

    &__vh:hover {
        color: var.$color-white;
    }


    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: var.$spacer-s;
        position: relative;
        z-index: 1;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-items: center;
            gap: var.$spacer-xs;
            
        }        
    }

    &__icons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        align-self: end;
        padding: 0 0 var.$spacer-xs 0;
        width: 100%;

        @media screen and (max-width: 768px) {
            grid-column: 1/2;
            grid-row: 2/3;
            padding: 0;
            justify-content: center;
            gap: var.$spacer-xs;
        } 
    }

    &__icon {
        width: 32px;
        transition: 0.3s ease-in-out;
    }

    &__img {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 90%;
        text-align: center;

        & img {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 50%;
        } 
        
    }

    &__link:hover .footer__icon {
        transform: scale(1.2);
    }

    &__text {
        font-family: var.$font-logo;
        color: var.$color-white;
        font-size: var.$font-size-m;

        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: start;
        align-self: end;
        padding: 0 0 var.$spacer-s 0;
        width: 100%;

        @media screen and (max-width: 768px) {
            grid-column: 1/2;
            grid-row: 3/4;
            justify-self: center;
            text-align: center;
            margin-bottom: var.$spacer-m;
            padding: var.$spacer-s 0 0 0;
        } 
    }

    &__wave {
        filter: url(#shadow--footer);
        margin-top: var.$spacer-m;
    }
}

