@use "var";



.background {
    &--brown {
        background: radial-gradient(circle at 70% 70%, #574C4E 0%, #574C4E 28%, #6D5F62 50%, #8D7C80 100%);
        min-height: 100vh;
    }
    
}

.banner {
    text-align: center;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 0 var.$spacer-m;

    @media screen and (min-width: 768px){
        margin: 0 auto;
        max-width: 1000px;
        text-align: left;
    }


    &__heading {
        font-family: var.$font-heading;
        font-size: var.$font-size-l;
        letter-spacing: 1px;
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 0 var.$spacer-s var.$spacer-m var.$spacer-s;

        @media screen and (min-width: 768px){
            font-size: var.$font-size-xl;
            grid-column: 2/3;
            grid-row: 3/4;
            padding: 0 0 var.$spacer-l var.$spacer-m;
        }
    }

    &__img {
        margin: 0 auto;
        grid-column: 1/3;
        grid-row: 1/2;
        padding: var.$spacer-m 0;
        width: 100%;

        @media screen and (min-width: 768px){
            grid-column: 1/2;
            grid-row: 1/4;
            width: 100%;
        }
    }


    &__logo {
        font-family: var.$font-logo;
        font-size: var.$font-size-l;
        padding: 0 var.$spacer-s var.$spacer-m var.$spacer-s;
        grid-column: 1/3;
        grid-row: 2/3;

        @media screen and (min-width: 768px){
            font-size: var.$font-size-xl;
            grid-column: 2/3;
            grid-row: 2/3;
            padding: 0 0 var.$spacer-m var.$spacer-m;
        }
    }
}



// zvyrazneni textu
.yellow {
    color: var.$color-first;
}



.akce {
    text-decoration: none;
    
    &__content {
        color: var.$color-white;
        text-align: center;
        padding: 0;
        margin: 0;
        
    }

    &__text {
        background-image: linear-gradient(to top, #C398A9, #BB8B9E);
        margin: -7px 0 0 0;
        padding: var.$spacer-m var.$spacer-s var.$spacer-m var.$spacer-s;
        font-size: var.$font-size-xs;

        @media screen and (min-width: 768px){
            padding: var.$spacer-m var.$spacer-s var.$spacer-l var.$spacer-s;
        }
    }

    &__heading {
        font-family: var.$font-heading;
        font-size: var.$font-size-m;
        color: var.$color-brown;
        letter-spacing: 1px;
        margin: 0;

        @media screen and (min-width: 768px){
            font-size: var.$font-size-l;
        }
    }

    &__wave {
        filter: url(#shadow-akce);
    }

    &__hover {
        &:hover .akce__heading {
            color: white;
            transition: 0.5s;
        }

        &:hover .akce__perex {
            color: white;
            transition: 0.5s;
        }
    }
}


// akce - článek

.article {

    &__background {
        background: linear-gradient(to top, #78686C, #574C4F);
        @media screen and (min-width: 768px){
            min-height: 80vh;
        }
    }

    &__container {
        padding: 0 var.$spacer-s var.$spacer-l var.$spacer-s;

        @media screen and (min-width: 768px){
            padding: var.$spacer-m 0 var.$spacer-l 0;
        }
    }

    &__content {
        margin: var.$spacer-s 0;
        @media screen and (min-width: 768px){
            margin: var.$spacer-m 0;
        }
    }

    &__images {
        margin: var.$spacer-m 0;

        display: grid;
        grid-template-columns: 1fr;
        gap: 4px;

        @media screen and (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr;
            height: 170px;
        }

        &-flex {
            width: 100%;
            overflow: hidden;
        }
    }
}



