@use 'var';


.background {
    margin-top: -8px;
    margin-bottom: -2px;
    padding-bottom: var.$spacer-m;

    &--psi {
    background-image: linear-gradient(to bottom, #808D68, #94A07E, #94A07E, #75815F);
    }

    &--lide {
        background-image: linear-gradient(to bottom, #BB8B9E, #C398A9, #C398A9, #BB8B9E);
    }
}



.nabidka {
    margin-top: var.$spacer-m;

    @media screen and (min-width: 768px){
        margin-top: var.$spacer-s;
    }

    &PsiTop {
        filter: url(#shadow-nabidkaPsiTop);
    }

    &PsiBottom {
        filter: url(#shadow-nabidkaPsiBottom);
    }

    &LideTop {
        filter: url(#shadow-nabidkaLideTop);
    }

    &LideBottom {
        filter: url(#shadow-nabidkaLideBottom);
    }   

    &__lide-bottom-text {
        margin: var.$spacer-l auto;
    }
}





.slide {
    padding: var.$spacer-m;
    background-color: var.$color-white;
    margin: var.$spacer-l var.$spacer-xs var.$spacer-l var.$spacer-xs;
    border-radius: 10px;
    box-shadow: inset 0 0 3px var.$color-light;
    text-align: justify;

    &--center {
        @media screen and (min-width: 768px){
            margin-top: var.$spacer-m + 4px;
            pointer-events: none;
        }
    }

}

.siema {
    @media screen and (min-width: 768px){
        pointer-events: none;
    }
}

.price {
    font-family: var.$font-logo;
    color: var.$color-brown;
    text-align: center;
    font-size: var.$font-size-l;
    margin: -20px 0 var.$spacer-s 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type:"·";
    padding-left: 10px;
    line-height: 2;
}







.faq {  
    margin: var.$spacer-l auto var.$spacer-xl auto;

    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.3fr repeat(4, auto);
        align-items: start;
    }

    &__question {
        padding-bottom: var.$spacer-l;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }

        @media screen and (min-width: 768px){
            padding-bottom: var.$spacer-xl;
        }
    }

    &__hand {
        display: none;

        @media screen and (min-width: 768px){
            display: block;
            grid-column: 4/6;
            grid-row: 1/3;
            padding-bottom: var.$spacer-l;
            justify-self: end;
            text-align: right;
        }
    }

    &__img {
        width: 75%;
    }
}

.arrow {
    display: none;

    @media screen and (min-width: 768px){
        position: absolute;
        display: block;
        width: 40%;

        &--right {
            right: -280px;
            top: -120px;
        }

        &--left {
            left: -280px;
            top: -100px;
        }
    }
}



.q1 {
    @media screen and (min-width: 768px){
        grid-column: 1/4;
        grid-row: 2/3;
    }
}

.q2 {
    @media screen and (min-width: 768px){
        grid-column: 3/6;
        grid-row: 3/4;
    }
}

.q3 {
    @media screen and (min-width: 768px){
        grid-column: 1/4;
        grid-row: 4/5;
    }
}

.q4 {
    @media screen and (min-width: 768px){
        grid-column: 3/6;
        grid-row: 5/6;
    }
}



