@use "var";

.omne {

    &__wrapper {
        position: relative;
        z-index: 1;

        padding: var.$spacer-m var.$spacer-s;
        margin: 0 auto;
        margin-top: -8px;
        max-width: 1100px;
        text-align: center;
        
        
        @media screen and (min-width: 768px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            padding-bottom: 0;
        }

    }

    &__img {
        border-radius: 50%;
        width: 75%;
        border: 6px solid var.$color-light;
        margin-bottom: var.$spacer-m;
        transition: transform 0.4s;
        

        &--reverse {
            margin-top: var.$spacer-s;
        }

        @media screen and (min-width: 768px){
            grid-column: 2/3;
            grid-row: 1/2;
            border: 8px solid var.$color-light;
            margin: 0;

            &:hover {
                transform: scale(0.95);
            }

            &--reverse {
                grid-column: 1/2;
                margin-top: 0;
            }
        }
    }

    &__text {
        max-width: 100%;
        text-align: justify;

        @media screen and (min-width: 768px){
            grid-column: 1/2;
            grid-row: 1/2;
            padding: var.$spacer-m;
            padding-bottom: 0;

            &--reverse {
                grid-column: 2/3;
            }
        }
    }


    &__wave {
        filter: url(#shadow-omne);
    }


    &--dark {
        background-image: linear-gradient(to bottom, #574C4F, #78686C);
        padding-bottom: var.$spacer-l;

        @media screen and (min-width: 768px){
            padding-bottom: var.$spacer-xl;
        }
    }
    

   
}




// možná???

dfn {
    cursor: help;
    font-style: normal;
    position: relative;
    
  }
  dfn::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 22px; left: 0;
    opacity: 0;
    width: 230px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
  }
  dfn::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px; left: 20px;
    opacity: 0;
    width: 0; height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
  }
  dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
  dfn:hover::after,
  dfn:hover::before {opacity: 1;}
  dfn:hover::after {top: 30px;}
  dfn:hover::before {top: 20px;}