@use 'var';

.gallery {
    max-width: 1300px;
    margin: 0 auto var.$spacer-m auto;
    text-align: justify;
    position: relative;
    z-index: 1;
    padding: 0 var.$spacer-s;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;


    @media screen and (min-width: 768px){
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-bottom: var.$spacer-l;
        padding: 0;
    }


    &__container {
        overflow: hidden;
        grid-row: span 2;
    }

    .wide {
        grid-row: span 1;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.self {
    align-self: end;
}


.gallery--lide {
    display: none;
}


.portfolio__links {
    margin: var.$spacer-l 0;
}