@use 'var';

.gallery {
    max-width: 1300px;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    z-index: 1;
    padding: var.$spacer-s;
    margin-bottom: var.$spacer-m;


    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: 1fr;
        // grid-auto-flow: dense;
        gap: 4px;
        margin-bottom: var.$spacer-l;
    }


    &__container {
        overflow: hidden;

        &:nth-child(2n) {
            grid-row: span 2;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: 2px solid transparent;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.05);
        }

        @media screen and (min-width: 768px){
            border: none;
        }
    }
}

.self {
    align-self: end;
}


.gallery--lide {
    display: none;
}
