$font-logo: 'Reenie Beanie', cursive;
$font-heading: 'Jomhuria', serif;
$font-main: 'Nunito Sans', sans-serif;

$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 30px;
$font-size-l: 40px;
$font-size-xl: 60px;

$spacer-s: 20px;
$spacer-m: 40px;
$spacer-l: 80px;
$spacer-xl: 120px;


$color-brown: #78686C;
$color-first: #F6BE65;
$color-second: #BB8B9E;
$color-third: #7E8D68;
$color-white: #F5F6F4;
