



<footer class="footer">
    <div class="footer__content">

        <div class="footer__icons">
            <img class="footer__icon" src="/images/icon_f.svg" href="#" alt="facebook">
            <img class="footer__icon" src="/images/icon_ig.svg" href="#" alt="instagram">
            <img class="footer__icon" src="/images/icon_mail.svg" href="#" alt="mail">
        </div>

        <img class="footer__img" src="/images/pudl.svg" href="#" alt="pudl JJ">

        <p class="footer__text">Hezký den!</p>

    </div>
</footer>

