



<footer class="footer">
    <div class="footer__content">

        <div class="footer__icons">
            <a href="https://www.facebook.com/cibulkovafoto/" class="footer__link">
                <img class="footer__icon" src="/images/icon_f.svg" href="#" alt="facebook">
            </a>
            <a href="https://www.instagram.com/cibulkovafoto/?hl=en" class="footer__link">
                <img class="footer__icon" src="/images/icon_ig.svg" href="#" alt="instagram">
            </a>
            <a href="#" class="footer__link">
                <img class="footer__icon" src="/images/icon_mail.svg" href="#" alt="mail">
            </a>
        </div>

        <img class="footer__img" src="/images/pudl.svg" href="#" alt="pudl JJ">

        <p class="footer__text">Hezký den!</p>

    </div>
</footer>

