


<svg class="footer__wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <filter id="shadow" color-interpolation-filters="sRGB">
        <fedropshadow dx="-20" dy="-8" stdDeviation="5" flood-opacity="0.1"/>
    </filter>
    <path fill="#78686C" fill-opacity="1" d="M0,288L48,277.3C96,267,192,245,288,240C384,235,480,245,576,234.7C672,224,768,192,864,181.3C960,171,1056,181,1152,192C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>



<footer class="footer">
    <div class="footer__content">

        <div class="footer__icons">
            <img class="footer__icon" src="/images/icon_f.svg" href="#" alt="facebook">
            <img class="footer__icon" src="/images/icon_ig.svg" href="#" alt="instagram">
            <img class="footer__icon" src="/images/icon_mail.svg" href="#" alt="mail">
        </div>

        <img class="footer__img" src="/images/pudl.svg" href="#" alt="pudl JJ">

        <p class="footer__text">Hezký den!</p>

    </div>
</footer>

