<header class="menu menu-dark">
        
    <a class="menu__mc" href="/index.html" >Michaela Cibulková</a>
    <!-- toto je na hamburger -->
    
    
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰</label>
    <!-- hamburger -->
    


    <div class="menu__list">
        <a class="menu__item menu__item--dark" href="/omne/index.html">o mně</a>
        <a class="menu__item menu__item--dark" href="#">portfolio</a>
        <a class="menu__logo logo menu__logo--dark" href="/">Michaela Cibulková</a>
        <a class="menu__item menu__item--dark" href="#">nabídka</a>
        <a class="menu__item menu__item--dark" href="#">kontakt</a>
    </div>
</header>

<div class="menu__wave">
    <svg class="menu__wave-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <filter id="shadow-header" color-interpolation-filters="sRGB">
            <fedropshadow dx="-20" dy="10" stdDeviation="5" flood-opacity="0.1"/>
        </filter>

        <path fill="#78686C" fill-opacity="1" d="M0,192L60,181.3C120,171,240,149,360,133.3C480,117,600,107,720,106.7C840,107,960,117,1080,122.7C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
</div>