<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micheala Cibulková</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Reenie+Beanie&display=swap" rel="stylesheet">

</head>





<body>

    <div class="article__background">

        <header class="menu">
        
            
            <a class="menu__mc" href="/index.html" >Michaela Cibulková</a>
        
            
            
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰</label>
            
            
    
    
            <div class="menu__list">
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'omne' }}" href="/omne/">o mně</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'portfolio' }}" href="/portfolio/index.html">portfolio</a>
                <a class="menu__logo logo" href="/">MC</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'nabidka' }}" href="/nabidka/index.html">nabídka</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}" href="/kontakt/index.html">kontakt</a>
            </div>

            


        </header>


        <div class="wrapper">
            <article class="article__container">

                <h2 class="heading heading--pink">{{ title }}</h2>
                <p class="article__meta plain-text plain-text--light plain-text--small"> {{ page.date | dateFormat('cs-CZ') }}</p>


                <div class="article__content">
            
                    <p class="article__perex">{{ perex }}</p><br>
        
                    {{ content | safe }}
                
                </div>

                <div class="article__images">
                    
                    
                    <div class="gallery__container">
                        <a data-fslightbox="akce-lightbox"  href="/images/uploades/{{ foto1 }}"><img class="gallery__img gallery__img--article" src="/images/uploades/{{ foto1 }}" alt="obrázek ke článku"></a>
                    </div>

                    <div class="gallery__container">
                        <a data-fslightbox="akce-lightbox"  href="/images/uploades/{{ foto2 }}"><img class="gallery__img gallery__img--article" src="/images/uploades/{{ foto2 }}" alt="obrázek ke článku"></a>
                    </div>

                    <div class="gallery__container">
                        <a data-fslightbox="akce-lightbox"  href="/images/uploades/{{ foto3 }}"><img class="gallery__img gallery__img--article" src="/images/uploades/{{ foto3 }}" alt="obrázek ke článku"></a>
                    </div>
                    
                    
                </div>

                <a class="button button--dark" href="/kontakt/index.html">Máte zájem?</a>
            </article>
            
        </div>

    </div>
 



<!-- vložení footeru -->
{% include "partials/footer-omne.njk" %} 




<script src="/fslightbox.js"></script>
<script src="/reveal.js"></script>

<script>
    fsLightboxInstances["akce-lightbox"].props.onOpen = function () {
        console.log("The akce lightbox has opened.");
    }
</script>


</body>

</html> 
